name: macOS Build

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-14

    permissions:
      contents: write
      packages: write

    env:
      VITE_TITLE: ${{ secrets.VITE_TITLE }}
      VITE_APPID: ${{ secrets.VITE_APPID }}

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint

      - name: Run tests
        run: pnpm test

      - name: Sharp Multiarch Rebuild
        run: pnpm install --config.platform=darwin --config.arch=x64 sharp && pnpm --config.platform=darwin --config.arch=arm64 rebuild sharp

      - name: Build
        run: pnpm run build:mac  --publish always
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get package version
        id: package_version
        run: echo "APP_VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v6
        name: Upload DMG
        with:
          name: ProjectOne-Companion-CI-${{ env.APP_VERSION }}-dmg
          path: dist/**/*-mac-universal.dmg

      - uses: actions/upload-artifact@v6
        name: Upload ZIP
        with:
          name: ProjectOne-Companion-CI-${{ env.APP_VERSION }}-zip
          path: dist/**/*-mac-universal.zip
